<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <link rel="stylesheet" href="style.css">
    <link
    rel="stylesheet"
    href="https://cdn.jsdelivr.net/npm/bulma@1.0.2/css/bulma.min.css"
    >
    <title>Document</title>
    <script src="https://cdn.jsdelivr.net/npm/axios/dist/axios.min.js"></script>
    
</head>
<body>

    <main>
        <div class="title" id="title">
            <h1>Hello, you can navigate with these buttons to see our products</h1>
        </div>
        <div class="cardArticle">

            <article id="articles">
                <img src="./images/phone.png" alt="" srcset="" width="400px">
                
            </article>
            <div class="buttonNav">
                <button id="prev" class="button are-medium">prev</button>
                <button id="next" class="button are-medium">next</button>
            </div>
        </div>
    </main>
</body>
<script src="./js/api.js"></script>
</html>