body{
    margin: 0;
    padding: 0;
    background-image: linear-gradient(to bottom right, rgb(252, 285, 249), rgb(15, 158, 241));
}

main{
    height: 100vh;
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
}

.cardArticle{
    display: flex;
    flex-direction: column;
    justify-content: center;
    
}

.seeArticle
{
    margin-bottom: 40px;
}

.buttonNav
{
    display: flex;
    justify-content: space-evenly;
    gap: 10px;
    margin-top: 40px;
}

.images
{
    width: 350px;
    
}

.title{
  
    display: flex;
    justify-content: center;
    height: 100px;
    padding-top: 25px;
}

h1{
    color: white;
    font-weight: 700;
}



.nameProduct
{
    color: rgb(241, 237, 237);
    display: flex;
    justify-content: center;
    font-size: large;
    font-weight:700 ;
}

@media only screen and (max-width: 600px) {
    .cardArticle {
      width: 50%;
    }

    .title{
        display: none;
    }
  }